ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  background-color:darkslategray;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*#nav {
  width: 100%;
}*/

#account-info-header {
  clear:left;
}

#delete-button {
  color:rgb(130, 9, 9);
}